{% extends 'base.html' %}

{% block content %}
<h1>Provide Feedback</h1>
<p>Help us improve the model by provided the correct label for this article.</p>

<form method="POST">
    {% csrf_token %}
    <label>Correct Label:</label>
    <select name="corrected_label">
        <option value="Real" {% if pred.prediction == 'Fake' %}selected{% endif %}>Real</option>
        <option value="Fake" {% if pred.prediction == 'Real' %}selected{% endif %}>Fake</option>
    </select>
    <br>
    <label>Note (Optional):</label>
    <textarea name="note" placeholder="Why is the prediction wrong?"></textarea>
    <button type="submit">Submit Correction</button>
</form>
{% endblock %}
