{% extends 'base.html' %}

{% block content %}
<h1>All Predictions</h1>
<ul>
    {% for p in predictions %}
    <li>
        <small>{{ p.created_at }}</small> - 
        <a href="{{ p.link_url|default:'#' }}">{{ p.text|slice:":80" }}...</a> 
        <stroing class="{% if p.prediction == 'Real' %}prediction-real{% else %}prediction-fake{% endif %}">{{ p.prediction }}</stroing>
        {% if p.is_correction %} (Flagged as Incorrect) {% endif %}
    </li>
    {% empty %}
    <li>No predictions yet.</li>
    {% endfor %}
</ul>
{% endblock %}
